body {
    font-family: 'Robotico', Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    padding-inline-start: 0px;
}

a, a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.hero, .infoboxes, .quote {
    flex: 1;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header, .footer {
    height: 72px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer {
    display: flex;
}

.hero {
    display: flex;
    align-items: center;
    color: white;
}

.infoboxes {
    display: flex;
}

.quote {
    display: flex;
}

.signup {
    display: flex;
    flex: 0.8;
}

.logo {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.herotxt, .heroimg {
    flex: 1;
    margin: 0px 30px
}

.herotxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

